body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

/* Header */
h1 {
  color: #0AA1DD;
  margin-top: 5%;
  font-family: 'Sacramento', cursive;
  font-size: 2vw;
}

h2 {
  font-weight: normal;
  color: #0069A7;
  font-size: 2vw;
  font-family: 'Montserrat' sans-serif;
}

h3 {
  color: #0AA1DD;
  font-size: 1.5vw;
  font-family: 'Montserrat' sans-serif;
}

h4 {
  padding-top: 3%;
}

.myskills {
  text-shadow: 1px 1px 1px #0069A7,
    2px 2px 1px #0AA1DD;
}

.albintxt {
  font-size: 1.5vw;
  line-height: 80%;
}

/* Body */
.skills-1 {
  font-size: 2.2vw;
  text-align: center;
}

table, tr, td {
  font-size: 1.5vw;
  text-align: center;
  border-collapse: collapse;
  width: 60%;
}

.top {
  background-color: #E8F9FD;
  padding-top: 4%;
  max-width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 10%;
}

.middle {
  padding-top: 5%;
  background-color: white;
  padding-bottom: 6%;
}

.bottom {
  background-color: #B3E8E5;
  padding-top: 3%;
  padding-bottom: 1%
}

.hr {
  margin: auto;
  border-style: none;
  border-top: dotted;
  border-color: #B3E8E5;
  border-width: 5px;
  width: 10%;
  padding-bottom: 5%;
}

.skill-row {
  width: 50%;
  margin: 8% auto 10% auto;
  line-height: 2;
}

/* Images */
.albinimg {
  width: 20%;
}

.circular {
  border-radius: 100%;
}

.gif1 {
  width: 25%;
  float: left;
  margin-right: 5%;
}

.gif2 {
  width: 25%;
  float: right;
  margin-left: 5%;
}

.gif3 {
  width: 25%;
  float: left;
  margin-right: 5%;
}

/* Footer */
a {
  color: #0AA1DD;
  font-family: 'Montserrat' sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.contactp {
  width: 35%;
  font-size: 1.5vw;
  margin: 40px auto 60px;
  padding-bottom: 2%;
  line-height: 170%;
}

.btn {
  background-image: linear-gradient(#bbeefa, #34c9bf);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 30px;
  font-family: 'Montserrat' sans-serif;
  color: #ffffff;
  font-size: 90%;
  padding: 1% 2%;
  text-decoration: none;
  letter-spacing: 2px;
}

.btn:hover {
  background-image: linear-gradient(#7fe4fa, #0dded0);
  text-decoration: none;
}

.copyright {
  color: #0AA1DD;
  font-size: 90%;
  padding: 20px 0;
}

/* Cloud */
.cloud-one {
  position: absolute;
  top: 15%;
  right: 10%;
  max-width: 10%;
  height: auto;
}

.cloud-two {
  position: absolute;
  top: 13%;
  left: 20%;
  max-width: 10%;
  height: auto;
}

.cloud-three {
  position: absolute;
  top: 4%;
  left: 10%;
  max-width: 10%;
  height: auto;
}

.cloud-four {
  position: absolute;
  top: 6%;
  right: 20%;
  max-width: 10%;
  height: auto;
}
